body{
    background-color: black;
    background-image: url("img/fondo.gif");
    opacity: .8;
    color:beige; 
}

h1, p{
    background-color: black;
}

verde{
    color: greenyellow;
}

rojo{
    color: red; 
}

azul{
    color:blue; 
}

amarillo{
    color:yellow;
    text-align: center; 
}

aqua{
    color:aqua;
    text-align: center;  
}

.kitty{
    position:absolute;
    top: 110px;
    left : 190px;
    height:300px;
    width:300px;
    z-index: 10;
}

.photo{
  position:absolute;
  height:500px;
  width:500px;
  top: 10px;
  left : 70px;
  z-index: 1;
}

.pc{
  position:absolute;
  height:500px;
  width:200px;
  top: 10px;
  left : 580px;
  z-index: 50;
}

.imag{
position:absolute;
  height:105px;
  width:175px;
  top: 135px;
  left : 593px;
  z-index: 50; 
}

pink{
    color:deeppink;
    text-align: center;
}